In [1]:
import pandas as pd

CSV_FILE = 'Telco_customer_churn_adapted_v2.xlsx'

df = pd.read_excel(CSV_FILE)
df.head()

,Customer ID,Tenure Months,Location,Device Class,Games Product,Music Product,Education Product,Call Center,Video Product,Use MyApp,Payment Method,Monthly Purchase (Thou. IDR),Churn Label,Longitude,Latitude,CLTV (Predicted Thou. IDR)
0,0,2,Jakarta,Mid End,Yes,Yes,No,No,No,No,Digital Wallet,70.005,Yes,106.816666,-6.2,4210.7
1,1,2,Jakarta,High End,No,No,No,No,No,No,Pulsa,91.910,Yes,106.816666,-6.2,3511.3
2,2,8,Jakarta,High End,No,No,Yes,No,Yes,Yes,Pulsa,129.545,Yes,106.816666,-6.2,6983.6
3,3,28,Jakarta,High End,No,No,Yes,Yes,Yes,Yes,Pulsa,136.240,Yes,106.816666,-6.2,6503.9
4,4,49,Jakarta,High End,No,Yes,Yes,No,Yes,Yes,Debit,134.810,Yes,106.816666,-6.2,6942.0

In [2]:
encode_columns = ['Location', 'Device Class', 'Payment Method']
encode_yn_columns = ['Games Product', 'Music Product', 'Education Product', 'Call Center', 'Video Product', 'Use MyApp', 'Churn Label']

encoded_df = pd.get_dummies(df, columns=encode_columns)
for column in encode_yn_columns:
    encoded_df[column] = encoded_df[column] == 'Yes'

encoded_df.info()
encoded_df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 22 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Customer ID                    7043 non-null   int64
 1   Tenure Months                  7043 non-null   int64
 2   Games Product                  7043 non-null   bool
 3   Music Product                  7043 non-null   bool
 4   Education Product              7043 non-null   bool
 5   Call Center                    7043 non-null   bool
 6   Video Product                  7043 non-null   bool
 7   Use MyApp                      7043 non-null   bool
 8   Monthly Purchase (Thou. IDR)   7043 non-null   float64
 9   Churn Label                    7043 non-null   bool
 10  Longitude                      7043 non-null   float64
 11  Latitude                       7043 non-null   float64
 12  CLTV (Predicted Thou. IDR)     7043 non-null   float64
 13  Location_Bandung               7043 non-null   uint8
 14  Location_Jakarta               7043 non-null   uint8
 15  Device Class_High End          7043 non-null   uint8
 16  Device Class_Low End           7043 non-null   uint8
 17  Device Class_Mid End           7043 non-null   uint8
 18  Payment Method_Credit          7043 non-null   uint8
 19  Payment Method_Debit           7043 non-null   uint8
 20  Payment Method_Digital Wallet  7043 non-null   uint8
 21  Payment Method_Pulsa           7043 non-null   uint8
dtypes: bool(7), float64(4), int64(2), uint8(9)
memory usage: 440.3 KB

,Customer ID,Tenure Months,Games Product,Music Product,Education Product,Call Center,Video Product,Use MyApp,Monthly Purchase (Thou. IDR),Churn Label,...,CLTV (Predicted Thou. IDR),Location_Bandung,Location_Jakarta,Device Class_High End,Device Class_Low End,Device Class_Mid End,Payment Method_Credit,Payment Method_Debit,Payment Method_Digital Wallet,Payment Method_Pulsa
0,0,2,True,True,False,False,False,False,70.005,True,...,4210.7,0,1,0,0,1,0,0,1,0
1,1,2,False,False,False,False,False,False,91.910,True,...,3511.3,0,1,1,0,0,0,0,0,1
2,2,8,False,False,True,False,True,True,129.545,True,...,6983.6,0,1,1,0,0,0,0,0,1
3,3,28,False,False,True,True,True,True,136.240,True,...,6503.9,0,1,1,0,0,0,0,0,1
4,4,49,False,True,True,False,True,True,134.810,True,...,6942.0,0,1,1,0,0,0,1,0,0

In [3]:
from sklearn.preprocessing import StandardScaler

scale_columns = ['Tenure Months', 'Monthly Purchase (Thou. IDR)', 'CLTV (Predicted Thou. IDR)']

scaler = StandardScaler()
scaled_df = encoded_df.copy()
scaled_df[scale_columns] = scaler.fit_transform(encoded_df[scale_columns])

scaled_df.info()
scaled_df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 22 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Customer ID                    7043 non-null   int64
 1   Tenure Months                  7043 non-null   float64
 2   Games Product                  7043 non-null   bool
 3   Music Product                  7043 non-null   bool
 4   Education Product              7043 non-null   bool
 5   Call Center                    7043 non-null   bool
 6   Video Product                  7043 non-null   bool
 7   Use MyApp                      7043 non-null   bool
 8   Monthly Purchase (Thou. IDR)   7043 non-null   float64
 9   Churn Label                    7043 non-null   bool
 10  Longitude                      7043 non-null   float64
 11  Latitude                       7043 non-null   float64
 12  CLTV (Predicted Thou. IDR)     7043 non-null   float64
 13  Location_Bandung               7043 non-null   uint8
 14  Location_Jakarta               7043 non-null   uint8
 15  Device Class_High End          7043 non-null   uint8
 16  Device Class_Low End           7043 non-null   uint8
 17  Device Class_Mid End           7043 non-null   uint8
 18  Payment Method_Credit          7043 non-null   uint8
 19  Payment Method_Debit           7043 non-null   uint8
 20  Payment Method_Digital Wallet  7043 non-null   uint8
 21  Payment Method_Pulsa           7043 non-null   uint8
dtypes: bool(7), float64(5), int64(1), uint8(9)
memory usage: 440.3 KB

,Customer ID,Tenure Months,Games Product,Music Product,Education Product,Call Center,Video Product,Use MyApp,Monthly Purchase (Thou. IDR),Churn Label,...,CLTV (Predicted Thou. IDR),Location_Bandung,Location_Jakarta,Device Class_High End,Device Class_Low End,Device Class_Mid End,Payment Method_Credit,Payment Method_Debit,Payment Method_Digital Wallet,Payment Method_Pulsa
0,0,-1.236724,True,True,False,False,False,False,-0.362660,True,...,-0.981675,0,1,0,0,1,0,0,1,0
1,1,-1.236724,False,False,False,False,False,False,0.197365,True,...,-1.436462,0,1,1,0,0,0,0,0,1
2,2,-0.992402,False,False,True,False,True,True,1.159546,True,...,0.821409,0,1,1,0,0,0,0,0,1
3,3,-0.177995,False,False,True,True,True,True,1.330711,True,...,0.509483,0,1,1,0,0,0,0,0,1
4,4,0.677133,False,True,True,False,True,True,1.294151,True,...,0.794358,0,1,1,0,0,0,1,0,0

In [4]:
from sklearn.model_selection import train_test_split

non_feature_columns = ['Customer ID', 'Longitude', 'Latitude', 'Churn Label']
target_column = 'Churn Label'

feature = scaled_df.drop(non_feature_columns, axis=1)
target = scaled_df[target_column]

X_train, X_test, y_train, y_test = train_test_split(feature, target, test_size=0.2, random_state=0)
print('Shape of training feature:', X_train.shape)
print('Shape of testing feature :', X_test.shape)
print('Shape of training label  :', y_train.shape)
print('Shape of testing label   :', y_test.shape)

X_train.head()

Shape of training feature: (5634, 18)
Shape of testing feature : (1409, 18)
Shape of training label  : (5634,)
Shape of testing label   : (1409,)

,Tenure Months,Games Product,Music Product,Education Product,Call Center,Video Product,Use MyApp,Monthly Purchase (Thou. IDR),CLTV (Predicted Thou. IDR),Location_Bandung,Location_Jakarta,Device Class_High End,Device Class_Low End,Device Class_Mid End,Payment Method_Credit,Payment Method_Debit,Payment Method_Digital Wallet,Payment Method_Pulsa
2920,0.514251,False,False,False,False,False,False,-1.339797,-0.688347,0,1,0,1,0,0,0,1,0
2966,1.369379,False,True,True,False,True,False,0.202351,0.990474,0,1,0,0,1,0,1,0,0
6099,1.491540,False,False,False,False,False,False,-1.288281,0.450310,0,1,0,1,0,0,1,0,0
5482,-1.155283,False,False,True,False,True,False,0.027862,0.128240,1,0,0,0,1,0,0,0,1
2012,1.491540,False,False,False,False,False,False,-1.496006,0.781678,1,0,0,1,0,0,1,0,0

In [5]:
from sklearn import metrics

def evaluate_model(model, x_test, y_test):
    y_pred = model.predict(x_test)

    # Calculate accuracy, precision, recall, f1-score, and kappa score
    acc = metrics.accuracy_score(y_test, y_pred)
    prec = metrics.precision_score(y_test, y_pred)
    rec = metrics.recall_score(y_test, y_pred)
    f1 = metrics.f1_score(y_test, y_pred)
    kappa = metrics.cohen_kappa_score(y_test, y_pred)

    # Calculate area under curve (AUC)
    y_pred_proba = model.predict_proba(x_test)[::,1]
    fpr, tpr, _ = metrics.roc_curve(y_test, y_pred_proba)
    auc = metrics.roc_auc_score(y_test, y_pred_proba)

    # Display confussion matrix
    cm = metrics.confusion_matrix(y_test, y_pred)
    
    return {
        'accuracy': acc,
        'precision': prec,
        'recall': rec,
        'f1-score': f1,
        'cohen-kappa': kappa,
#         'fpr': fpr,
#         'tpr': tpr,
        'area-under-curve': auc,
        'true-positive': cm[0, 0],
        'false-positive': cm[0, 1],
        'false-negative': cm[1, 0],
        'true-negative': cm[1, 1],
    }

def print_metrics(model_metrics):
    for key, value in model_metrics.items():
        print(f'{key:20s}: {value}')

In [6]:
from sklearn import tree

dtc = tree.DecisionTreeClassifier(random_state=0)
dtc.fit(X_train, y_train)
dtc_eval = evaluate_model(dtc, X_test, y_test)

print_metrics(dtc_eval)

accuracy            : 0.7203690560681334
precision           : 0.4566929133858268
recall              : 0.481994459833795
f1-score            : 0.46900269541778977
cohen-kappa         : 0.2794017622106034
area-under-curve    : 0.6422376879321647
true-positive       : 841
false-positive      : 207
false-negative      : 187
true-negative       : 174

In [7]:
from sklearn.ensemble import RandomForestClassifier

rf = RandomForestClassifier(random_state=0)
rf.fit(X_train, y_train)
rf_eval = evaluate_model(rf, X_test, y_test)

print_metrics(rf_eval)

accuracy            : 0.7906316536550745
precision           : 0.613013698630137
recall              : 0.49584487534626037
f1-score            : 0.5482388973966309
cohen-kappa         : 0.41395383593724666
area-under-curve    : 0.8089673510816011
true-positive       : 935
false-positive      : 113
false-negative      : 182
true-negative       : 179

In [8]:
from sklearn.naive_bayes import GaussianNB

nb = GaussianNB()
nb.fit(X_train, y_train)
nb_eval = evaluate_model(nb, X_test, y_test)

print_metrics(nb_eval)

accuracy            : 0.7643718949609652
precision           : 0.5315904139433552
recall              : 0.6759002770083102
f1-score            : 0.5951219512195122
cohen-kappa         : 0.4322837149355204
area-under-curve    : 0.8077065403565161
true-positive       : 833
false-positive      : 215
false-negative      : 117
true-negative       : 244

In [9]:
from sklearn.neighbors import KNeighborsClassifier

knn = KNeighborsClassifier()
knn.fit(X_train, y_train)
knn_eval = evaluate_model(knn, X_test, y_test)

print_metrics(knn_eval)

accuracy            : 0.7650816181689141
precision           : 0.5460122699386503
recall              : 0.4930747922437673
f1-score            : 0.5181950509461427
cohen-kappa         : 0.36340158692675917
area-under-curve    : 0.7544485208602059
true-positive       : 900
false-positive      : 148
false-negative      : 183
true-negative       : 178

In [10]:
from sklearn.model_selection import GridSearchCV

param_grid = {
    'max_depth': [50, 80, 100],
    'max_features': [2, 3, 4],
    'min_samples_leaf': [3, 4, 5],
    'min_samples_split': [8, 10, 12],
    'n_estimators': [100, 300, 500, 750, 1000]
}

rf_grids = RandomForestClassifier(random_state=0)
grid_search = GridSearchCV(estimator=rf_grids, param_grid=param_grid, scoring='recall', cv=5, n_jobs=-1)
grid_search.fit(X_train, y_train)
best_grid = grid_search.best_estimator_
best_grid_eval = evaluate_model(best_grid, X_test, y_test)

print_metrics(best_grid_eval)

accuracy            : 0.7970191625266146
precision           : 0.6363636363636364
recall              : 0.48476454293628807
f1-score            : 0.550314465408805
cohen-kappa         : 0.42232078603847045
area-under-curve    : 0.8261270643462816
true-positive       : 948
false-positive      : 100
false-negative      : 186
true-negative       : 175