In [1]:
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

In [2]:
import pandas as pd

CSV_FILE = 'Telco_customer_churn_adapted_v2.xlsx'

df = pd.read_excel(CSV_FILE)
df.head()

,Customer ID,Tenure Months,Location,Device Class,Games Product,Music Product,Education Product,Call Center,Video Product,Use MyApp,Payment Method,Monthly Purchase (Thou. IDR),Churn Label,Longitude,Latitude,CLTV (Predicted Thou. IDR)
0,0,2,Jakarta,Mid End,Yes,Yes,No,No,No,No,Digital Wallet,70.005,Yes,106.816666,-6.2,4210.7
1,1,2,Jakarta,High End,No,No,No,No,No,No,Pulsa,91.910,Yes,106.816666,-6.2,3511.3
2,2,8,Jakarta,High End,No,No,Yes,No,Yes,Yes,Pulsa,129.545,Yes,106.816666,-6.2,6983.6
3,3,28,Jakarta,High End,No,No,Yes,Yes,Yes,Yes,Pulsa,136.240,Yes,106.816666,-6.2,6503.9
4,4,49,Jakarta,High End,No,Yes,Yes,No,Yes,Yes,Debit,134.810,Yes,106.816666,-6.2,6942.0

In [3]:
encode_columns = ['Location', 'Device Class', 'Payment Method']
encode_yn_columns = ['Games Product', 'Music Product', 'Education Product', 'Call Center', 'Video Product', 'Use MyApp', 'Churn Label']

encoded_df = pd.get_dummies(df, columns=encode_columns)
for column in encode_yn_columns:
    encoded_df[column] = encoded_df[column] == 'Yes'

encoded_df.info()
encoded_df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 22 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Customer ID                    7043 non-null   int64
 1   Tenure Months                  7043 non-null   int64
 2   Games Product                  7043 non-null   bool
 3   Music Product                  7043 non-null   bool
 4   Education Product              7043 non-null   bool
 5   Call Center                    7043 non-null   bool
 6   Video Product                  7043 non-null   bool
 7   Use MyApp                      7043 non-null   bool
 8   Monthly Purchase (Thou. IDR)   7043 non-null   float64
 9   Churn Label                    7043 non-null   bool
 10  Longitude                      7043 non-null   float64
 11  Latitude                       7043 non-null   float64
 12  CLTV (Predicted Thou. IDR)     7043 non-null   float64
 13  Location_Bandung               7043 non-null   uint8
 14  Location_Jakarta               7043 non-null   uint8
 15  Device Class_High End          7043 non-null   uint8
 16  Device Class_Low End           7043 non-null   uint8
 17  Device Class_Mid End           7043 non-null   uint8
 18  Payment Method_Credit          7043 non-null   uint8
 19  Payment Method_Debit           7043 non-null   uint8
 20  Payment Method_Digital Wallet  7043 non-null   uint8
 21  Payment Method_Pulsa           7043 non-null   uint8
dtypes: bool(7), float64(4), int64(2), uint8(9)
memory usage: 440.3 KB

,Customer ID,Tenure Months,Games Product,Music Product,Education Product,Call Center,Video Product,Use MyApp,Monthly Purchase (Thou. IDR),Churn Label,...,CLTV (Predicted Thou. IDR),Location_Bandung,Location_Jakarta,Device Class_High End,Device Class_Low End,Device Class_Mid End,Payment Method_Credit,Payment Method_Debit,Payment Method_Digital Wallet,Payment Method_Pulsa
0,0,2,True,True,False,False,False,False,70.005,True,...,4210.7,0,1,0,0,1,0,0,1,0
1,1,2,False,False,False,False,False,False,91.910,True,...,3511.3,0,1,1,0,0,0,0,0,1
2,2,8,False,False,True,False,True,True,129.545,True,...,6983.6,0,1,1,0,0,0,0,0,1
3,3,28,False,False,True,True,True,True,136.240,True,...,6503.9,0,1,1,0,0,0,0,0,1
4,4,49,False,True,True,False,True,True,134.810,True,...,6942.0,0,1,1,0,0,0,1,0,0

In [4]:
from sklearn.preprocessing import StandardScaler

scale_columns = ['Tenure Months', 'Monthly Purchase (Thou. IDR)']

scaler = StandardScaler()
scaled_df = encoded_df.copy()
scaled_df[scale_columns] = scaler.fit_transform(encoded_df[scale_columns])

scaled_df.info()
scaled_df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 22 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Customer ID                    7043 non-null   int64
 1   Tenure Months                  7043 non-null   float64
 2   Games Product                  7043 non-null   bool
 3   Music Product                  7043 non-null   bool
 4   Education Product              7043 non-null   bool
 5   Call Center                    7043 non-null   bool
 6   Video Product                  7043 non-null   bool
 7   Use MyApp                      7043 non-null   bool
 8   Monthly Purchase (Thou. IDR)   7043 non-null   float64
 9   Churn Label                    7043 non-null   bool
 10  Longitude                      7043 non-null   float64
 11  Latitude                       7043 non-null   float64
 12  CLTV (Predicted Thou. IDR)     7043 non-null   float64
 13  Location_Bandung               7043 non-null   uint8
 14  Location_Jakarta               7043 non-null   uint8
 15  Device Class_High End          7043 non-null   uint8
 16  Device Class_Low End           7043 non-null   uint8
 17  Device Class_Mid End           7043 non-null   uint8
 18  Payment Method_Credit          7043 non-null   uint8
 19  Payment Method_Debit           7043 non-null   uint8
 20  Payment Method_Digital Wallet  7043 non-null   uint8
 21  Payment Method_Pulsa           7043 non-null   uint8
dtypes: bool(7), float64(5), int64(1), uint8(9)
memory usage: 440.3 KB

,Customer ID,Tenure Months,Games Product,Music Product,Education Product,Call Center,Video Product,Use MyApp,Monthly Purchase (Thou. IDR),Churn Label,...,CLTV (Predicted Thou. IDR),Location_Bandung,Location_Jakarta,Device Class_High End,Device Class_Low End,Device Class_Mid End,Payment Method_Credit,Payment Method_Debit,Payment Method_Digital Wallet,Payment Method_Pulsa
0,0,-1.236724,True,True,False,False,False,False,-0.362660,True,...,4210.7,0,1,0,0,1,0,0,1,0
1,1,-1.236724,False,False,False,False,False,False,0.197365,True,...,3511.3,0,1,1,0,0,0,0,0,1
2,2,-0.992402,False,False,True,False,True,True,1.159546,True,...,6983.6,0,1,1,0,0,0,0,0,1
3,3,-0.177995,False,False,True,True,True,True,1.330711,True,...,6503.9,0,1,1,0,0,0,0,0,1
4,4,0.677133,False,True,True,False,True,True,1.294151,True,...,6942.0,0,1,1,0,0,0,1,0,0

In [5]:
from sklearn.feature_selection import VarianceThreshold

# Drop Non Feature Columns
non_features_columns = ['Customer ID', 'Longitude', 'Latitude', 'Churn Label', 'CLTV (Predicted Thou. IDR)']
features = scaled_df.drop(non_features_columns, axis=1)

# Variable Selection using Variance Threshold
threshold = 0.2
selector = VarianceThreshold(threshold)
selector.fit(features)
selected_column_names = features.columns[selector.get_support(indices=True)]
features = features[selected_column_names]
features.head()

,Tenure Months,Games Product,Music Product,Education Product,Call Center,Video Product,Use MyApp,Monthly Purchase (Thou. IDR),Location_Bandung,Location_Jakarta,Device Class_High End,Device Class_Mid End,Payment Method_Pulsa
0,-1.236724,True,True,False,False,False,False,-0.362660,0,1,0,1,0
1,-1.236724,False,False,False,False,False,False,0.197365,0,1,1,0,1
2,-0.992402,False,False,True,False,True,True,1.159546,0,1,1,0,1
3,-0.177995,False,False,True,True,True,True,1.330711,0,1,1,0,1
4,0.677133,False,True,True,False,True,True,1.294151,0,1,1,0,0

In [6]:
from sklearn.decomposition import PCA
from sklearn.decomposition import KernelPCA

n_components = 3
features_decompose = features.copy()


pca = PCA(n_components=n_components)
res_pca = pca.fit_transform(features)
columns_pca = [f'pca_{i}' for i in range (n_components)]
features_decompose[columns_pca] = res_pca


kpca_poly = KernelPCA(n_components=n_components, kernel="poly", degree=3)
res_kpca_poly = kpca_poly.fit_transform(features)
columns_kpca_poly = [f'kpca_poly_{i}' for i in range (n_components)]
features_decompose[columns_kpca_poly] = res_kpca_poly


kpca_rbf = KernelPCA(n_components=n_components, kernel='rbf', gamma=0.01)
res_kpca_rbf = kpca_rbf.fit_transform(features)
columns_kpca_rbf = [f'kpca_rbf_{i}' for i in range (n_components)]
features_decompose[columns_kpca_rbf] = res_kpca_rbf


kpca_cosine = KernelPCA(n_components=n_components, kernel='cosine')
res_kpca_cosine = kpca_cosine.fit_transform(features)
columns_kpca_cosine = [f'kpca_cosine_{i}' for i in range (n_components)]
features_decompose[columns_kpca_cosine] = res_kpca_cosine


features_decompose.head()

,Tenure Months,Games Product,Music Product,Education Product,Call Center,Video Product,Use MyApp,Monthly Purchase (Thou. IDR),Location_Bandung,Location_Jakarta,...,pca_2,kpca_poly_0,kpca_poly_1,kpca_poly_2,kpca_rbf_0,kpca_rbf_1,kpca_rbf_2,kpca_cosine_0,kpca_cosine_1,kpca_cosine_2
0,-1.236724,True,True,False,False,False,False,-0.362660,0,1,...,-0.060050,-0.640202,0.080967,0.603773,-0.141551,-0.046561,0.018172,0.350889,-0.242538,-0.051808
1,-1.236724,False,False,False,False,False,False,0.197365,0,1,...,-0.522832,-0.492600,0.744167,-0.064627,-0.094336,-0.200984,-0.075153,0.125049,-0.707428,-0.236998
2,-0.992402,False,False,True,False,True,True,1.159546,0,1,...,-0.409730,0.332484,1.169623,0.063421,0.107064,-0.240975,-0.052521,-0.384948,-0.548371,-0.139449
3,-0.177995,False,False,True,True,True,True,1.330711,0,1,...,-0.371282,0.817198,0.814488,0.047791,0.195956,-0.152823,-0.046730,-0.558276,-0.287653,-0.130827
4,0.677133,False,True,True,False,True,True,1.294151,0,1,...,-0.506320,1.086222,0.264003,-0.265765,0.247631,-0.034525,-0.073109,-0.681572,0.028098,-0.174461

In [7]:
from sklearn.cluster import KMeans
from sklearn.cluster import AgglomerativeClustering
from sklearn_extra.cluster import KMedoids
from sklearn.impute import SimpleImputer
from sklearn.metrics import silhouette_score
from cdbw import CDbw

def cluster(data, columns, model, k):
    imputer = SimpleImputer(strategy='median')
    X = imputer.fit_transform(data[columns])
    
    if model == 'KMeans':
        mdl = KMeans(n_clusters=k, random_state=0)
    elif model == 'KMedoids':
        mdl = KMedoids(n_clusters=k, random_state=0)
    elif model == 'Agglomerative':
        mdl = AgglomerativeClustering(n_clusters=k)
    else:
        raise ValueError(f'Unknown model: {model}')

    labels = mdl.fit_predict(X)
    score_silhouette = silhouette_score(X, labels)
    score_cdbw = CDbw(X, labels, metric="euclidean", alg_noise='comb', intra_dens_inf=False, s=3, multipliers=False)

    return score_silhouette, score_cdbw, labels

def compute_cluster(data, method, model, max_k=9):
    if method == 'PCA':
        columns = columns_pca
    elif method == 'KPCA Poly':
        columns = columns_kpca_poly
    elif method == 'KPCA RBF':
        columns = columns_kpca_rbf
    elif method == 'KPCA Cosine':
        columns = columns_kpca_cosine
    else:
        raise ValueError(f'Unknown method: {method}')
    
    max_score_silhouette = -1
    max_score_cdbw = -1
    max_k_silhouette = -1
    max_k_cdbw = -1
    
    for k in range(2, max_k+1):
        score_silhouette, score_cdbw, _ = cluster(data, columns, model, k)
        print(f'Cluster {method} data with {model} K={k}, silhouette score: {score_silhouette:8.6f}, cdbw_score: {score_cdbw:8.6f}')

        if score_silhouette > max_score_silhouette:
            max_score_silhouette = score_silhouette
            max_k_silhouette = k

        if score_cdbw > max_score_cdbw:
            max_score_cdbw = score_cdbw
            max_k_cdbw = k
            
    print(f'Best cluster {method} data with {model} based on Silhouette score, is K = {max_k_silhouette} with score: {max_score_silhouette:.6f}')
    print(f'Best cluster {method} data with {model} based on CDbw score, is K = {max_k_cdbw} with score: {max_score_cdbw:.6f}')
    print()

In [8]:
compute_cluster(features_decompose, 'PCA', 'KMeans')
compute_cluster(features_decompose, 'KPCA Poly', 'KMeans')
compute_cluster(features_decompose, 'KPCA RBF', 'KMeans')
compute_cluster(features_decompose, 'KPCA Cosine', 'KMeans')

Cluster PCA data with KMeans K=2, silhouette score: 0.356063, cdbw_score: 0.000857
Cluster PCA data with KMeans K=3, silhouette score: 0.371243, cdbw_score: 0.001511
Cluster PCA data with KMeans K=4, silhouette score: 0.359034, cdbw_score: 0.001634
Cluster PCA data with KMeans K=5, silhouette score: 0.339816, cdbw_score: 0.008873
Cluster PCA data with KMeans K=6, silhouette score: 0.353079, cdbw_score: 0.003970
Cluster PCA data with KMeans K=7, silhouette score: 0.371034, cdbw_score: 0.027582
Cluster PCA data with KMeans K=8, silhouette score: 0.383373, cdbw_score: 0.025451
Cluster PCA data with KMeans K=9, silhouette score: 0.372608, cdbw_score: 0.026694
Best cluster PCA data with KMeans based on Silhouette score, is K = 8 with score: 0.383373
Best cluster PCA data with KMeans based on CDbw score, is K = 7 with score: 0.027582

Cluster KPCA Poly data with KMeans K=2, silhouette score: 0.383523, cdbw_score: 0.003103
Cluster KPCA Poly data with KMeans K=3, silhouette score: 0.389417, cdbw_score: 0.007320
Cluster KPCA Poly data with KMeans K=4, silhouette score: 0.423063, cdbw_score: 0.014695
Cluster KPCA Poly data with KMeans K=5, silhouette score: 0.430529, cdbw_score: 0.023994
Cluster KPCA Poly data with KMeans K=6, silhouette score: 0.429910, cdbw_score: 0.060627
Cluster KPCA Poly data with KMeans K=7, silhouette score: 0.416492, cdbw_score: 0.083003
Cluster KPCA Poly data with KMeans K=8, silhouette score: 0.424558, cdbw_score: 0.178355
Cluster KPCA Poly data with KMeans K=9, silhouette score: 0.416327, cdbw_score: 0.063618
Best cluster KPCA Poly data with KMeans based on Silhouette score, is K = 5 with score: 0.430529
Best cluster KPCA Poly data with KMeans based on CDbw score, is K = 8 with score: 0.178355

Cluster KPCA RBF data with KMeans K=2, silhouette score: 0.357005, cdbw_score: 0.009609
Cluster KPCA RBF data with KMeans K=3, silhouette score: 0.375079, cdbw_score: 0.029219
Cluster KPCA RBF data with KMeans K=4, silhouette score: 0.360669, cdbw_score: 0.018322
Cluster KPCA RBF data with KMeans K=5, silhouette score: 0.347486, cdbw_score: 0.050876
Cluster KPCA RBF data with KMeans K=6, silhouette score: 0.353751, cdbw_score: 0.106317
Cluster KPCA RBF data with KMeans K=7, silhouette score: 0.348551, cdbw_score: 0.235419
Cluster KPCA RBF data with KMeans K=8, silhouette score: 0.374352, cdbw_score: 0.094886
Cluster KPCA RBF data with KMeans K=9, silhouette score: 0.364278, cdbw_score: 0.105972
Best cluster KPCA RBF data with KMeans based on Silhouette score, is K = 3 with score: 0.375079
Best cluster KPCA RBF data with KMeans based on CDbw score, is K = 7 with score: 0.235419

Cluster KPCA Cosine data with KMeans K=2, silhouette score: 0.384366, cdbw_score: 0.003879
Cluster KPCA Cosine data with KMeans K=3, silhouette score: 0.370452, cdbw_score: 0.012079
Cluster KPCA Cosine data with KMeans K=4, silhouette score: 0.376799, cdbw_score: 0.025636
Cluster KPCA Cosine data with KMeans K=5, silhouette score: 0.397676, cdbw_score: 0.032993
Cluster KPCA Cosine data with KMeans K=6, silhouette score: 0.409563, cdbw_score: 0.026446
Cluster KPCA Cosine data with KMeans K=7, silhouette score: 0.399505, cdbw_score: 0.102410
Cluster KPCA Cosine data with KMeans K=8, silhouette score: 0.420046, cdbw_score: 0.092562
Cluster KPCA Cosine data with KMeans K=9, silhouette score: 0.425184, cdbw_score: 0.114464
Best cluster KPCA Cosine data with KMeans based on Silhouette score, is K = 9 with score: 0.425184
Best cluster KPCA Cosine data with KMeans based on CDbw score, is K = 9 with score: 0.114464

In [9]:
compute_cluster(features_decompose, 'PCA', 'KMedoids')
compute_cluster(features_decompose, 'KPCA Poly', 'KMedoids')
compute_cluster(features_decompose, 'KPCA RBF', 'KMedoids')
compute_cluster(features_decompose, 'KPCA Cosine', 'KMedoids')

Cluster PCA data with KMedoids K=2, silhouette score: 0.354102, cdbw_score: 0.001145
Cluster PCA data with KMedoids K=3, silhouette score: 0.369022, cdbw_score: 0.001739
Cluster PCA data with KMedoids K=4, silhouette score: 0.287505, cdbw_score: 0.004522
Cluster PCA data with KMedoids K=5, silhouette score: 0.291101, cdbw_score: 0.003345
Cluster PCA data with KMedoids K=6, silhouette score: 0.346166, cdbw_score: 0.004218
Cluster PCA data with KMedoids K=7, silhouette score: 0.313630, cdbw_score: 0.002902
Cluster PCA data with KMedoids K=8, silhouette score: 0.351904, cdbw_score: 0.014122
Cluster PCA data with KMedoids K=9, silhouette score: 0.367858, cdbw_score: 0.019132
Best cluster PCA data with KMedoids based on Silhouette score, is K = 3 with score: 0.369022
Best cluster PCA data with KMedoids based on CDbw score, is K = 9 with score: 0.019132

Cluster KPCA Poly data with KMedoids K=2, silhouette score: 0.356530, cdbw_score: 0.003372
Cluster KPCA Poly data with KMedoids K=3, silhouette score: 0.387187, cdbw_score: 0.007178
Cluster KPCA Poly data with KMedoids K=4, silhouette score: 0.317416, cdbw_score: 0.009775
Cluster KPCA Poly data with KMedoids K=5, silhouette score: 0.430632, cdbw_score: 0.035477
Cluster KPCA Poly data with KMedoids K=6, silhouette score: 0.369872, cdbw_score: 0.034672
Cluster KPCA Poly data with KMedoids K=7, silhouette score: 0.347232, cdbw_score: 0.047324
Cluster KPCA Poly data with KMedoids K=8, silhouette score: 0.406980, cdbw_score: 0.043514
Cluster KPCA Poly data with KMedoids K=9, silhouette score: 0.402066, cdbw_score: 0.093174
Best cluster KPCA Poly data with KMedoids based on Silhouette score, is K = 5 with score: 0.430632
Best cluster KPCA Poly data with KMedoids based on CDbw score, is K = 9 with score: 0.093174

Cluster KPCA RBF data with KMedoids K=2, silhouette score: 0.356449, cdbw_score: 0.009692
Cluster KPCA RBF data with KMedoids K=3, silhouette score: 0.372975, cdbw_score: 0.016849
Cluster KPCA RBF data with KMedoids K=4, silhouette score: 0.285072, cdbw_score: 0.045778
Cluster KPCA RBF data with KMedoids K=5, silhouette score: 0.316169, cdbw_score: 0.045926
Cluster KPCA RBF data with KMedoids K=6, silhouette score: 0.323751, cdbw_score: 0.044145
Cluster KPCA RBF data with KMedoids K=7, silhouette score: 0.347873, cdbw_score: 0.037861
Cluster KPCA RBF data with KMedoids K=8, silhouette score: 0.371977, cdbw_score: 0.111422
Cluster KPCA RBF data with KMedoids K=9, silhouette score: 0.362602, cdbw_score: 0.104438
Best cluster KPCA RBF data with KMedoids based on Silhouette score, is K = 3 with score: 0.372975
Best cluster KPCA RBF data with KMedoids based on CDbw score, is K = 8 with score: 0.111422

Cluster KPCA Cosine data with KMedoids K=2, silhouette score: 0.357159, cdbw_score: 0.003764
Cluster KPCA Cosine data with KMedoids K=3, silhouette score: 0.316536, cdbw_score: 0.007716
Cluster KPCA Cosine data with KMedoids K=4, silhouette score: 0.382154, cdbw_score: 0.010066
Cluster KPCA Cosine data with KMedoids K=5, silhouette score: 0.378888, cdbw_score: 0.073306
Cluster KPCA Cosine data with KMedoids K=6, silhouette score: 0.361461, cdbw_score: 0.052713
Cluster KPCA Cosine data with KMedoids K=7, silhouette score: 0.349022, cdbw_score: 0.057168
Cluster KPCA Cosine data with KMedoids K=8, silhouette score: 0.347026, cdbw_score: 0.041638
Cluster KPCA Cosine data with KMedoids K=9, silhouette score: 0.388993, cdbw_score: 0.097902
Best cluster KPCA Cosine data with KMedoids based on Silhouette score, is K = 9 with score: 0.388993
Best cluster KPCA Cosine data with KMedoids based on CDbw score, is K = 9 with score: 0.097902

In [10]:
compute_cluster(features_decompose, 'PCA', 'Agglomerative')
compute_cluster(features_decompose, 'KPCA Poly', 'Agglomerative')
compute_cluster(features_decompose, 'KPCA RBF', 'Agglomerative')
compute_cluster(features_decompose, 'KPCA Cosine', 'Agglomerative')

Cluster PCA data with Agglomerative K=2, silhouette score: 0.343808, cdbw_score: 0.002483
Cluster PCA data with Agglomerative K=3, silhouette score: 0.337935, cdbw_score: 0.004676
Cluster PCA data with Agglomerative K=4, silhouette score: 0.294718, cdbw_score: 0.004109
Cluster PCA data with Agglomerative K=5, silhouette score: 0.306662, cdbw_score: 0.010919
Cluster PCA data with Agglomerative K=6, silhouette score: 0.309113, cdbw_score: 0.019080
Cluster PCA data with Agglomerative K=7, silhouette score: 0.322270, cdbw_score: 0.007010
Cluster PCA data with Agglomerative K=8, silhouette score: 0.331091, cdbw_score: 0.011470
Cluster PCA data with Agglomerative K=9, silhouette score: 0.316986, cdbw_score: 0.014824
Best cluster PCA data with Agglomerative based on Silhouette score, is K = 2 with score: 0.343808
Best cluster PCA data with Agglomerative based on CDbw score, is K = 6 with score: 0.019080

Cluster KPCA Poly data with Agglomerative K=2, silhouette score: 0.307502, cdbw_score: 0.007055
Cluster KPCA Poly data with Agglomerative K=3, silhouette score: 0.322331, cdbw_score: 0.029367
Cluster KPCA Poly data with Agglomerative K=4, silhouette score: 0.389642, cdbw_score: 0.052932
Cluster KPCA Poly data with Agglomerative K=5, silhouette score: 0.390680, cdbw_score: 0.051091
Cluster KPCA Poly data with Agglomerative K=6, silhouette score: 0.387147, cdbw_score: 0.087771
Cluster KPCA Poly data with Agglomerative K=7, silhouette score: 0.371433, cdbw_score: 0.075523
Cluster KPCA Poly data with Agglomerative K=8, silhouette score: 0.382064, cdbw_score: 0.078089
Cluster KPCA Poly data with Agglomerative K=9, silhouette score: 0.393712, cdbw_score: 0.124096
Best cluster KPCA Poly data with Agglomerative based on Silhouette score, is K = 9 with score: 0.393712
Best cluster KPCA Poly data with Agglomerative based on CDbw score, is K = 9 with score: 0.124096

Cluster KPCA RBF data with Agglomerative K=2, silhouette score: 0.322647, cdbw_score: 0.034859
Cluster KPCA RBF data with Agglomerative K=3, silhouette score: 0.302809, cdbw_score: 0.050719
Cluster KPCA RBF data with Agglomerative K=4, silhouette score: 0.310328, cdbw_score: 0.063264
Cluster KPCA RBF data with Agglomerative K=5, silhouette score: 0.287228, cdbw_score: 0.051444
Cluster KPCA RBF data with Agglomerative K=6, silhouette score: 0.299655, cdbw_score: 0.074377
Cluster KPCA RBF data with Agglomerative K=7, silhouette score: 0.300393, cdbw_score: 0.128257
Cluster KPCA RBF data with Agglomerative K=8, silhouette score: 0.278123, cdbw_score: 0.218798
Cluster KPCA RBF data with Agglomerative K=9, silhouette score: 0.312041, cdbw_score: 0.222943
Best cluster KPCA RBF data with Agglomerative based on Silhouette score, is K = 2 with score: 0.322647
Best cluster KPCA RBF data with Agglomerative based on CDbw score, is K = 9 with score: 0.222943

Cluster KPCA Cosine data with Agglomerative K=2, silhouette score: 0.345589, cdbw_score: 0.010290
Cluster KPCA Cosine data with Agglomerative K=3, silhouette score: 0.341893, cdbw_score: 0.023402
Cluster KPCA Cosine data with Agglomerative K=4, silhouette score: 0.325951, cdbw_score: 0.051815
Cluster KPCA Cosine data with Agglomerative K=5, silhouette score: 0.349138, cdbw_score: 0.066894
Cluster KPCA Cosine data with Agglomerative K=6, silhouette score: 0.357054, cdbw_score: 0.080036
Cluster KPCA Cosine data with Agglomerative K=7, silhouette score: 0.380811, cdbw_score: 0.095113
Cluster KPCA Cosine data with Agglomerative K=8, silhouette score: 0.383588, cdbw_score: 0.152022
Cluster KPCA Cosine data with Agglomerative K=9, silhouette score: 0.381208, cdbw_score: 0.108182
Best cluster KPCA Cosine data with Agglomerative based on Silhouette score, is K = 8 with score: 0.383588
Best cluster KPCA Cosine data with Agglomerative based on CDbw score, is K = 8 with score: 0.152022

In [12]:
def cluster_summary(data, data_decompose, columns, model, k):
    score_silhouette, score_cdbw, labels = cluster(data_decompose, columns, model, k)
    print(f'\n{model} K={k}, silhouette score: {score_silhouette:8.6f}, cdbw_score: {score_cdbw:8.6f}')
    
    all_cluster_data = data.copy()
    all_cluster_data['labels'] = labels
    for i in range(k):
        print(f'\n{"-" * 30}\n\n> Summary of Cluster {i + 1}\n')
        cluster_data = all_cluster_data[all_cluster_data['labels'] == i]
        
        summary = {
            'Count': len(cluster_data),
            'Count Location Bandung': (cluster_data['Location'] == 'Bandung').sum(),
            'Count Location Jakarta': (cluster_data['Location'] == 'Jakarta').sum(),
            'Min Tenure Months': cluster_data['Tenure Months'].min(),
            'Average Tenure Months': cluster_data['Tenure Months'].mean(),
            'Max Tenure Months': cluster_data['Tenure Months'].max(),
            'Count Call Center Yes': (cluster_data['Call Center'] == 'Yes').sum(),
            'Count Call Center No': (cluster_data['Call Center'] == 'No').sum(),
            'Count Churn Observations Yes': (cluster_data['Churn Label'] == 'Yes').sum(),
            'Count Churn Observations No': (cluster_data['Churn Label'] == 'No').sum(),
            'Min Monthly Purchase (Thou. IDR)': cluster_data['Monthly Purchase (Thou. IDR)'].min(),
            'Average Monthly Purchase (Thou. IDR)': cluster_data['Monthly Purchase (Thou. IDR)'].mean(),
            'Max Monthly Purchase (Thou. IDR)': cluster_data['Monthly Purchase (Thou. IDR)'].max(),
            'Count Device Class High End': (cluster_data['Device Class'] == 'High End').sum(),
            'Count Device Class Mid End': (cluster_data['Device Class'] == 'Mid End').sum(),
            'Count Device Class Low End': (cluster_data['Device Class'] == 'Low End').sum(),
            'Count Games Product Yes': (cluster_data['Games Product'] == 'Yes').sum(),
            'Count Games Product No': (cluster_data['Games Product'] == 'No').sum(),
            'Count Games Product No internet service': (cluster_data['Games Product'] == 'No internet service').sum(),
            'Count Education Product Yes': (cluster_data['Education Product'] == 'Yes').sum(),
            'Count Education Product No': (cluster_data['Education Product'] == 'No').sum(),
            'Count Education Product No Internet Service': (cluster_data['Education Product'] == 'No internet service').sum(),
            'Count Video Product Yes': (cluster_data['Video Product'] == 'Yes').sum(),
            'Count Video Product No': (cluster_data['Video Product'] == 'No').sum(),
            'Count Video Product No Internet Service': (cluster_data['Video Product'] == 'No internet service').sum(),
            'Count Video MyApp Yes': (cluster_data['Use MyApp'] == 'Yes').sum(),
            'Count Video MyApp No': (cluster_data['Use MyApp'] == 'No').sum(),
            'Count Video MyApp No Internet Service': (cluster_data['Use MyApp'] == 'No internet service').sum(),
            'Count Payment Method Credit': (cluster_data['Payment Method'] == 'Credit').sum(),
            'Count Payment Method Debit': (cluster_data['Payment Method'] == 'Debit').sum(),
            'Count Payment Method Digital Wallet': (cluster_data['Payment Method'] == 'Digital Wallet').sum(),
            'Count Payment Method Pulsa': (cluster_data['Payment Method'] == 'Pulsa').sum()
        }
        
        for key, value in summary.items():
            print(f'{key:50s}: {value}')
        
cluster_summary(df, features_decompose, columns_kpca_rbf, 'KMeans', 7)

KMeans K=7, silhouette score: 0.348551, cdbw_score: 0.235419

------------------------------

> Summary of Cluster 1

Count                                             : 879
Count Location Bandung                            : 0
Count Location Jakarta                            : 879
Min Tenure Months                                 : 0
Average Tenure Months                             : 10.361774744027304
Max Tenure Months                                 : 38
Count Call Center Yes                             : 10
Count Call Center No                              : 869
Count Churn Observations Yes                      : 195
Count Churn Observations No                       : 684
Min Monthly Purchase (Thou. IDR)                  : 23.725
Average Monthly Purchase (Thou. IDR)              : 32.90730375426621
Max Monthly Purchase (Thou. IDR)                  : 67.275
Count Device Class High End                       : 0
Count Device Class Mid End                        : 243
Count Device Class Low End                        : 636
Count Games Product Yes                           : 9
Count Games Product No                            : 234
Count Games Product No internet service           : 636
Count Education Product Yes                       : 5
Count Education Product No                        : 238
Count Education Product No Internet Service       : 636
Count Video Product Yes                           : 7
Count Video Product No                            : 236
Count Video Product No Internet Service           : 636
Count Video MyApp Yes                             : 14
Count Video MyApp No                              : 229
Count Video MyApp No Internet Service             : 636
Count Payment Method Credit                       : 122
Count Payment Method Debit                        : 110
Count Payment Method Digital Wallet               : 487
Count Payment Method Pulsa                        : 160

------------------------------

> Summary of Cluster 2

Count                                             : 1212
Count Location Bandung                            : 271
Count Location Jakarta                            : 941
Min Tenure Months                                 : 17
Average Tenure Months                             : 57.492574257425744
Max Tenure Months                                 : 72
Count Call Center Yes                             : 612
Count Call Center No                              : 600
Count Churn Observations Yes                      : 252
Count Churn Observations No                       : 960
Min Monthly Purchase (Thou. IDR)                  : 101.075
Average Monthly Purchase (Thou. IDR)              : 133.03837458745875
Max Monthly Purchase (Thou. IDR)                  : 154.375
Count Device Class High End                       : 1198
Count Device Class Mid End                        : 14
Count Device Class Low End                        : 0
Count Games Product Yes                           : 558
Count Games Product No                            : 654
Count Games Product No internet service           : 0
Count Education Product Yes                       : 874
Count Education Product No                        : 338
Count Education Product No Internet Service       : 0
Count Video Product Yes                           : 1005
Count Video Product No                            : 207
Count Video Product No Internet Service           : 0
Count Video MyApp Yes                             : 1012
Count Video MyApp No                              : 200
Count Video MyApp No Internet Service             : 0
Count Payment Method Credit                       : 331
Count Payment Method Debit                        : 364
Count Payment Method Digital Wallet               : 57
Count Payment Method Pulsa                        : 460

------------------------------

> Summary of Cluster 3

Count                                             : 1271
Count Location Bandung                            : 0
Count Location Jakarta                            : 1271
Min Tenure Months                                 : 1
Average Tenure Months                             : 14.240755310778914
Max Tenure Months                                 : 57
Count Call Center Yes                             : 145
Count Call Center No                              : 1126
Count Churn Observations Yes                      : 723
Count Churn Observations No                       : 548
Min Monthly Purchase (Thou. IDR)                  : 79.105
Average Monthly Purchase (Thou. IDR)              : 109.15555861526357
Max Monthly Purchase (Thou. IDR)                  : 146.835
Count Device Class High End                       : 1249
Count Device Class Mid End                        : 22
Count Device Class Low End                        : 0
Count Games Product Yes                           : 151
Count Games Product No                            : 1120
Count Games Product No internet service           : 0
Count Education Product Yes                       : 330
Count Education Product No                        : 941
Count Education Product No Internet Service       : 0
Count Video Product Yes                           : 532
Count Video Product No                            : 739
Count Video Product No Internet Service           : 0
Count Video MyApp Yes                             : 527
Count Video MyApp No                              : 744
Count Video MyApp No Internet Service             : 0
Count Payment Method Credit                       : 167
Count Payment Method Debit                        : 173
Count Payment Method Digital Wallet               : 140
Count Payment Method Pulsa                        : 791

------------------------------

> Summary of Cluster 4

Count                                             : 1053
Count Location Bandung                            : 321
Count Location Jakarta                            : 732
Min Tenure Months                                 : 23
Average Tenure Months                             : 57.921177587844255
Max Tenure Months                                 : 72
Count Call Center Yes                             : 718
Count Call Center No                              : 335
Count Churn Observations Yes                      : 68
Count Churn Observations No                       : 985
Min Monthly Purchase (Thou. IDR)                  : 46.475
Average Monthly Purchase (Thou. IDR)              : 92.55154320987654
Max Monthly Purchase (Thou. IDR)                  : 127.075
Count Device Class High End                       : 104
Count Device Class Mid End                        : 949
Count Device Class Low End                        : 0
Count Games Product Yes                           : 731
Count Games Product No                            : 322
Count Games Product No internet service           : 0
Count Education Product Yes                       : 714
Count Education Product No                        : 339
Count Education Product No Internet Service       : 0
Count Video Product Yes                           : 607
Count Video Product No                            : 446
Count Video Product No Internet Service           : 0
Count Video MyApp Yes                             : 619
Count Video MyApp No                              : 434
Count Video MyApp No Internet Service             : 0
Count Payment Method Credit                       : 375
Count Payment Method Debit                        : 371
Count Payment Method Digital Wallet               : 149
Count Payment Method Pulsa                        : 158

------------------------------

> Summary of Cluster 5

Count                                             : 729
Count Location Bandung                            : 642
Count Location Jakarta                            : 87
Min Tenure Months                                 : 0
Average Tenure Months                             : 16.301783264746227
Max Tenure Months                                 : 49
Count Call Center Yes                             : 216
Count Call Center No                              : 513
Count Churn Observations Yes                      : 348
Count Churn Observations No                       : 381
Min Monthly Purchase (Thou. IDR)                  : 63.375
Average Monthly Purchase (Thou. IDR)              : 106.53277091906723
Max Monthly Purchase (Thou. IDR)                  : 144.82000000000002
Count Device Class High End                       : 545
Count Device Class Mid End                        : 184
Count Device Class Low End                        : 0
Count Games Product Yes                           : 181
Count Games Product No                            : 548
Count Games Product No internet service           : 0
Count Education Product Yes                       : 247
Count Education Product No                        : 482
Count Education Product No Internet Service       : 0
Count Video Product Yes                           : 383
Count Video Product No                            : 346
Count Video Product No Internet Service           : 0
Count Video MyApp Yes                             : 384
Count Video MyApp No                              : 345
Count Video MyApp No Internet Service             : 0
Count Payment Method Credit                       : 96
Count Payment Method Debit                        : 104
Count Payment Method Digital Wallet               : 99
Count Payment Method Pulsa                        : 430

------------------------------

> Summary of Cluster 6

Count                                             : 1082
Count Location Bandung                            : 613
Count Location Jakarta                            : 469
Min Tenure Months                                 : 0
Average Tenure Months                             : 13.066543438077634
Max Tenure Months                                 : 47
Count Call Center Yes                             : 272
Count Call Center No                              : 810
Count Churn Observations Yes                      : 258
Count Churn Observations No                       : 824
Min Monthly Purchase (Thou. IDR)                  : 24.31
Average Monthly Purchase (Thou. IDR)              : 55.29709796672829
Max Monthly Purchase (Thou. IDR)                  : 90.35000000000001
Count Device Class High End                       : 0
Count Device Class Mid End                        : 804
Count Device Class Low End                        : 278
Count Games Product Yes                           : 293
Count Games Product No                            : 511
Count Games Product No internet service           : 278
Count Education Product Yes                       : 189
Count Education Product No                        : 615
Count Education Product No Internet Service       : 278
Count Video Product Yes                           : 146
Count Video Product No                            : 658
Count Video Product No Internet Service           : 278
Count Video MyApp Yes                             : 150
Count Video MyApp No                              : 654
Count Video MyApp No Internet Service             : 278
Count Payment Method Credit                       : 180
Count Payment Method Debit                        : 159
Count Payment Method Digital Wallet               : 446
Count Payment Method Pulsa                        : 297

------------------------------

> Summary of Cluster 7

Count                                             : 817
Count Location Bandung                            : 165
Count Location Jakarta                            : 652
Min Tenure Months                                 : 24
Average Tenure Months                             : 53.96328029375765
Max Tenure Months                                 : 72
Count Call Center Yes                             : 71
Count Call Center No                              : 746
Count Churn Observations Yes                      : 25
Count Churn Observations No                       : 792
Min Monthly Purchase (Thou. IDR)                  : 23.919999999999998
Average Monthly Purchase (Thou. IDR)              : 35.61347613219095
Max Monthly Purchase (Thou. IDR)                  : 81.185
Count Device Class High End                       : 0
Count Device Class Mid End                        : 205
Count Device Class Low End                        : 612
Count Games Product Yes                           : 96
Count Games Product No                            : 109
Count Games Product No internet service           : 612
Count Education Product Yes                       : 63
Count Education Product No                        : 142
Count Education Product No Internet Service       : 612
Count Video Product Yes                           : 27
Count Video Product No                            : 178
Count Video Product No Internet Service           : 612
Count Video MyApp Yes                             : 26
Count Video MyApp No                              : 179
Count Video MyApp No Internet Service             : 612
Count Payment Method Credit                       : 251
Count Payment Method Debit                        : 263
Count Payment Method Digital Wallet               : 234
Count Payment Method Pulsa                        : 69